
      <h1>Find your next vehicle !</h1>
<div class="cards">
      <% @vehicles.each do |vehicle| %>
      <div class="card-trip">
        <% if vehicle.photo.attached?  %>
        <%= cl_image_tag vehicle.photo.key, height: 200, width: 300, crop: :fill %>
        <% end %>
        <h2><%= vehicle.name %></h2>
        <div class="des">
        <p><%= vehicle.description  %></p>
        </div>
        <p><u><strong>Price : <%= vehicle.price  %>€ per day</strong></u></p>
        <%= link_to "Show details", vehicle_path(vehicle),  class: "btn btn-gradient bottom"  %>
      </div>
      <% end %>
</div>
