<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1>Vehicles List</h1>

      <% @vehicles.each do |vehicle| %>
        <h2><%= vehicle.name %></h2>
        <p>Description : <%= vehicle.description  %></p>
        <p>price : <%= vehicle.price  %></p>
        <p><%= link_to "show vehicle's details", vehicle_path(vehicle),  class: "btn btn-primary"  %></p>
      <% end %>
      <%= link_to "Add new vehicle", new_vehicle_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
