<div class="card-show">
      <h2><%= @vehicle.name %></h2>
      <p><%= @vehicle.description %> </p>
      <p><u><em>Where to find the vehicle ? </em></u></p>
      <p><%= @vehicle.address  %></p>
      <p><u><strong>Price : <%= @vehicle.price  %>€ per day</u></strong></p>
      <% if @vehicle.photo.attached?  %>
      <%= cl_image_tag @vehicle.photo.key, height: 600, width: 800, crop: :fill %>
      <p><%= link_to "Book this car", new_vehicle_reservation_path(@vehicle), class: "btn btn-gradient" %></p>
      <% end %>
</div>
